# Identidade pública
sets locale "pt-PT"
sets tags "pt-PT, roleplay, esx, esx-legacy, soul-project, steam-only"

# Cfx.re
set resources_useSystemChat true
sv_scriptHookAllowed 0
sv_endpointPrivacy true

# Soul Project
setr sp:server_name "Soul Project"
setr sp:locale "pt-PT"
setr sp:environment "development"
setr sp:steam_only 1

# Ativar apenas depois de validar mapas, veículos e artefactos DLC.
# sv_enforceGameBuild 3258
