# Hierarquia Soul Project
add_principal group.owner group.admin
add_principal group.admin group.mod
add_principal group.mod group.support
add_principal group.admin group.user
add_principal group.dev group.user

# Administração geral
add_ace group.owner command allow
add_ace group.admin command allow
add_ace group.admin command.quit deny

# Desenvolvimento controlado
add_ace group.dev command.refresh allow
add_ace group.dev command.start allow
add_ace group.dev command.stop allow
add_ace group.dev command.restart allow
add_ace group.dev command.ensure allow
add_ace group.dev command.sp_health allow

# Suporte e moderação
add_ace group.support command.sp_health allow

# Permissões necessárias ao es_extended.
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
