# Cfx.re / sistema
ensure chat
ensure hardcap

# Persistência e voz
ensure oxmysql
ensure pma-voice
ensure bob74_ipl

# ESX Legacy
ensure esx_lib
ensure es_extended
ensure [core]
ensure [esx_addons]

# Soul Project
ensure [sp_core]
ensure [sp_ui]
ensure [sp_jobs]
ensure [sp_illegal]
ensure [sp_maps]
ensure [sp_vehicles]
ensure [sp_custom]
