# Convars de segurança para reduzir abuso de eventos de rede.
sv_enableNetworkedSounds false
sv_enableNetworkedScriptEntityStates false
sv_enableNetworkedPhoneExplosions false
sv_filterRequestControl 2
sv_endpointPrivacy true
