# pma-voice: proximidade, rádio e chamadas
setr voice_enableUi 1
setr voice_enableProximityCycle 1
setr voice_defaultCycle "F11"
setr voice_defaultVoiceMode 2
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_enableRadios 1
setr voice_enableCalls 1
setr voice_enableSubmix 1
setr voice_enableRadioAnim 1
setr voice_defaultRadio "LMENU"
setr voice_defaultRadioVolume 35
setr voice_defaultCallVolume 60
setr voice_onClickVolume 10
setr voice_offClickVolume 3
setr voice_hideEndpoints 1
setr voice_debugMode 0
